<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body th:fragment="main-body" class="bg-gradient-light">
		<th:block layout:fragment="content">

		</th:block>

		<script th:src="@{/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{/startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js}"></script>
		<script th:src="@{/startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js}"></script>

		<th:block layout:fragment="script"></th:block>
	</body>
</html>