<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="board/layout/basic">
<th:block layout:fragment="title">
    <title>게시글 목록</title>
</th:block>

<th:block layout:fragment="search">
    <form id="searchForm" name="searchForm" onsubmit="return false;"
          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
<!--            <select id="searchType" name="searchType">-->
<!--                <option value="">선택</option>-->
<!--                <option value="bbscttSj">제목</option>-->
<!--                <option value="bbscttCn">내용</option>-->
<!--                <option value="bbscttWrter">작성자</option>-->
<!--            </select>-->
            <input type="text" placeholder="Search..." id="keyword" name="keyword" class="form-control bg-light border-0 small" />
            <div class="input-group-append">
                <button type="button" onclick="movePage(1)" class="btn btn-primary">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</th:block>

<th:block layout:fragment="content">

</th:block>

<th:block layout:fragment="paging">
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
            <ul class="pagination">

            </ul>
        </div>
    </div>

    <div class="btn_wrap text-right">
        <a th:href="@{/board/write.do}" class="btn btn-primary waves-effect waves-light">글 등록</a>
    </div>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        /* 게시글 리스트 조회 S */
        window.onload = () => {
            setQueryStringParams();
            findAllPost();
        }

        function findAllPost() {
            var response = [[${response}]];
            if (!response.list.length) {
                document.getElementById('list').innerHTML = '<div>검색 결과가 없습니다.</div>';
                drawPage();
                return false;
            }

            var pagination = [[${response.pagination}]];
            var params = [[${params}]];
            var num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize);

            drawList(response.list, num);
            drawPage(pagination, params);
        }

        // 조회 목록
        function drawList(list, num) {
            var html = '';
            list.forEach(obj => {
                html += `
                    <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="${obj.bbscttImage}" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">${obj.bbscttSj}</h5>
                            <!-- Product price-->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="javascript:void(0)" onclick="goViewPage(${obj.bbscttNo})">구경하기</a>
                        </div>
                    </div>
                    </div>
                `;
            });
            document.getElementById('list').innerHTML = html;
        }

        function drawPage(pagination, params) {
            if (!pagination || !params) {
                document.querySelector('.pagination').innerHTML = '';
                return false;
            }

            var html = '';

            // 첫 페이지, 이전 페이지
            if(pagination.existPrevPage) {
                html += `
                    <li class="paginate_button page-item">
                        <a href="javascript:void(0)" aria-controls="dataTable" class="page-link" onclick="movePage(1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="paginate_button page-item">
                        <a href="javascript:void(0)" aria-controls="dataTable" class="page-link" onclick="movePage(${pagination.startPage - 1});" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                `;
            }

            // 페이지 번호
            for (var i = pagination.startPage; i <= pagination.endPage; i ++) {
                var active = (i === params.page) ? 'active' : '';
                html += `
                <li  class="${active} paginate_button page-item">
                    <a href="javascript:void(0)" aria-controls="dataTable" class="page-link" onclick="movePage(${i});">${i}</a>
                </li>
                `;
            }

            if (pagination.existNextPage) {
                html += `
                <li class="paginate_button page-item">
                    <a href="javascript:void(0)" aria-controls="dataTable" class="page-link" onclick="movePage(${pagination.endPage + 1});" aria-label="Next">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li class="paginate_button page-item">
                    <a href="javascript:void(0)" aria-controls="dataTable" class="page-link" onclick="movePage(${pagination.totalPageCount});" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                `;
            }

            document.querySelector('.pagination').innerHTML = html;
        }

        // 쿼리스트링 파라미터 세팅
        function setQueryStringParams() {
            // location 객체의 search를 이용해서 쿼리 스트링 파라미터를 조회할 수 있다.
            if (!location.search) {
                return false;
            }

            var form = document.getElementById('searchForm');

            new URLSearchParams(location.search).forEach((value, key) => {
                if (form[key]) {
                    form[key].value = value;
                }
            });

            document.getElementById('keyword').value = form.keyword.value;
        }
        /* 게시글 리스트 조회 E */


        /* 페이지 이동 */
        function movePage(page) {
            var form = document.getElementById('searchForm');
            var queryParams = {
                page: (page) ? page : 1,
                recordSize : 10,
                pageSize : 10,
                keyword : form.keyword.value
                // searchType : form.searchType.value
            }
            location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
        }
        /* 페이지 이동 */



        /* 게시글 상세페이지 이동 */
        function goViewPage(idx) {
            var queryString = (location.search) ? location.search + `&idx=${idx}` : `?idx=${idx}`;
            location.href = '/board/view.do' + queryString;
        }
        /* 게시글 상세페이지 이동 */

        /*[- end of function -]*/
        /*]]>*/
    </script>
</th:block>
</html>