<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="board/layout/basic">
<th:block layout:fragment="title">
    <title>게시글 등록</title>
</th:block>

<th:block layout:fragment="view">
    <div class="card-content">
        <form id="saveForm" class="form-horizontal form-grade" th:action="@{/board/register.do}" th:object="${board}">
            <!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
            <input type="hidden" th:if="*{bbscttNo != null and bbscttNo > 0}" th:field="*{bbscttNo}"/>

            <!-- 작성자 -->
            <input type="hidden" th:field="*{bbscttWrter}"/>
            <input type="hidden" th:field="*{bbscttStore}"/>
            <input type="hidden" th:field="*{bbscttCchLo}"/>
            <input type="hidden" th:field="*{bbscttCchLa}"/>

            <div class="form-group">
                <label for="bbscttSj" class="col-sm-2 control-label">제목</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{bbscttSj}" class="form-control" placeholder="제목을 입력해 주세요."/>
                </div>
            </div>

            <div class="form-group">
                <label for="btnMap" class="col-sm-2 control-label">장소등록</label>
                <div class="col-sm-10" id="mapContainer">
                    <button id="btnMap" type="button" class="btn btn-primary waves-effect waves-light"
                            onclick="openPopup()">장소등록
                    </button>
                    <div id="map" style="width:100%;height:350px;display: none"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="bbscttCn" class="col-sm-2 control-label">내용</label>
                <div class="col-sm-10">
                    <textarea id="bbscttCn" th:field="*{bbscttCn}" class="form-control"
                              placeholder="내용을 입력해 주세요."></textarea>
                </div>
                <input type="hidden" th:field="*{bbscttImage}" value="image"/>
            </div>

            <div class="form-group">
                <label for="bbscttGrade" class="col-sm-2 control-label">평점</label>
                <fieldset>
                    <input type="radio" name="bbscttGrade" value="5" id="rate1">
                    <label for="rate1" class="grade">⭐</label>
                    <input type="radio" name="bbscttGrade" value="4" id="rate2">
                    <label for="rate2" class="grade">⭐</label>
                    <input type="radio" name="bbscttGrade" value="3" id="rate3">
                    <label for="rate3" class="grade">⭐</label>
                    <input type="radio" name="bbscttGrade" value="2" id="rate4">
                    <label for="rate4" class="grade">⭐</label>
                    <input type="radio" name="bbscttGrade" value="1" id="rate5">
                    <label for="rate5" class="grade">⭐</label>
                </fieldset>
            </div>

            <div class="form-group hash-tag">
                <label for="bbscttHashtag" class="col-sm-2 control-label"></label>
                <ul id="tag-list"></ul>
                <div class="col-sm-10">
                    <input type="hidden" id="bbscttHashtag" name="bbscttHashtag" value="" th:field="*{bbscttHashtag}"/>

                </div>
            </div>

            <div class="form-group">
                <label for="tag" class="col-sm-2 control-label">해시태그</label>
                <div class="col-sm-10">
                    <input type="text" id="tag" class="form-control" placeholder="엔터로 해시태그를 등록해주세요."/>
                </div>
            </div>

            <div class="btn_wrap text-center">
                <a th:href="@{/board/list.do}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
                <button type="button" th:onclick="submitPost()" class="btn btn-primary waves-effect waves-light">저장하기
                </button>
            </div>
        </form>
    </div>
    <!-- /.card-content -->
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var board = [[${board}]];

        var post = {
            bbscttNo     : $('#bbscttNo').val(),
            bbscttSj     : $('#bbscttSj').val(),
            bbscttCn     : board.bbscttCn,
            bbscttWrter  : $('#bbscttWrter').val(),
            bbscttImage  : $('#bbscttImage').val(),
            bbscttGrade  : board.bbscttGrade,
            bbscttHashtag: $('#bbscttHashtag').val(),
            bbscttStore  : $('input[name=bbscttStore]').val(),
            bbscttCchLa  : $('input[name=bbscttCchLa]').val(),
            bbscttCchLo  : $('input[name=bbscttCchLo]').val()
        }

        console.log('수정 post = ' + JSON.stringify(post));



        /* smartEditor */
        var oEditors = [];

        smartEditor = function () {
            nhn.husky.EZCreator.createInIFrame({
                oAppRef      : oEditors,
                elPlaceHolder: 'bbscttCn',
                sSkinURI     : '/smarteditor/SmartEditor2Skin.html',
                fCreator     : 'createSEditor2'
            });
        }
        smartEditor();

        /* smartEditor */


        function submitPost() {
            oEditors.getById['bbscttCn'].exec('UPDATE_CONTENTS_FIELD', []);

            // textarea 값 가져오기
            var content = document.getElementById('bbscttCn').value;

            // <p>태그 <br>로 바꾸기
            var contentVal = content.replace(/<\/p><p>/gi, "<br>");

            // console.log('content = ' + contentVal);

            if (content == '') {
                alert('내용을 입력해주세요');
                oEditors.getById['bbscttCn'].exec('FOCUS');
                return;
            } else {

                var text = oEditors.getById['bbscttCn'].getIR();
                var $text = $(text);
                var srcArr = [];
                if($text.find('img').length > 0) {
                    var img = $text.find('img');
                    console.log(img);
                    for(var i = 0; i < img.length; i ++) {
                        srcArr.push(img[i].src);
                    }
                } else {
                    alert('이미지를 반드시 등록해주세요.');
                    return;
                }


                console.log(srcArr);

                var src = img.attr('src');
                var srcReplace = src.replace('/img/', '');

                $('#bbscttImage').val(srcReplace);


                // $('#sendForm').submit();
                var bbscttHashTag = marginTag();
                $('#bbscttHashtag').val(bbscttHashTag);

                var bbscttGrade = $('input:radio[name=bbscttGrade]:checked').val();
                console.log('별점 ====================== ' + bbscttGrade);


                var post = {
                    bbscttNo     : $('#bbscttNo').val(),
                    bbscttSj     : $('#bbscttSj').val(),
                    bbscttCn     : content,
                    bbscttWrter  : $('#bbscttWrter').val(),
                    bbscttImage  : $('#bbscttImage').val(),
                    bbscttGrade  : bbscttGrade,
                    bbscttHashtag: $('#bbscttHashtag').val(),
                    bbscttStore  : $('input[name=bbscttStore]').val(),
                    bbscttCchLa  : $('input[name=bbscttCchLa]').val(),
                    bbscttCchLo  : $('input[name=bbscttCchLo]').val()
                }


                console.log('post = ' + JSON.stringify(post));

                $.ajax({
                    url    : '/board/register.do',
                    data   : post,
                    method : 'POST',
                    success: function (data) {
                        alert('저장');
                        // location.href = '/member/board/list';
                    },
                    error  : function (err) {
                        console.log('err data > ', err);
                        alert('실패');
                    }
                });
            }
        }

        /* 해시태그 시작 */
        var tag = {};
        var counter = 0;

        // 입력한 값을 태그로 생성한다.
        function addTag(value) {
            tag[counter] = value;
            counter++; // del-btn 의 고유 id 가 된다.
        }

        // tag 안에 있는 값을 array type 으로 만들어서 넘긴다.
        function marginTag() {
            return Object.values(tag).filter(function (word) {
                return word !== "";
            });
        }

        $("#tag").on("keypress", function (e) {
            var self = $(this);

            //엔터나 스페이스바 눌렀을때 실행
            if (e.key === "Enter" || e.keyCode == 32) {

                var tagValue = self.val(); // 값 가져오기

                // 해시태그 값 없으면 실행X
                if (tagValue !== "") {

                    // 같은 태그가 있는지 검사한다. 있다면 해당값이 array 로 return 된다.
                    var result = Object.values(tag).filter(function (word) {
                        return word === tagValue;
                    })

                    // 해시태그가 중복되었는지 확인
                    if (result.length == 0) {
                        $("#tag-list").append("<li class='tag-item'>" + tagValue + "<span class='del-btn' idx='" + counter + "'>x</span></li>");
                        addTag(tagValue);
                        self.val("");
                    } else {
                        alert("태그값이 중복됩니다.");
                    }
                }
                e.preventDefault(); // SpaceBar 시 빈공간이 생기지 않도록 방지
            }
        });

        // 삭제 버튼
        // 인덱스 검사 후 삭제
        $(document).on("click", ".del-btn", function (e) {
            var index = $(this).attr("idx");
            tag[index] = "";
            $(this).parent().remove();
        });
        /* 해시태그 끝 */

        /* 게시글 수정 */
        if(board.bbscttNo != null) {
            window.onload = () => {
                console.log('온로드 함수 실행');
                updateBoard();
            }
        }


        function updateBoard() {
            var board = [[${board}]];
            console.log('board = ' + JSON.stringify(board));
            if (!board) {
                return false;
            }

            var form = document.getElementById('saveForm');
            var fields = ['bbscttNo', 'bbscttSj', 'bbscttCn', 'bbscttHashtag', 'bbscttCchLa', 'bbscttCchLo', 'bbscttStore'];

            fields.forEach(field => {
                form[field].value = board[field];
                console.log('form 밸류값 '+form[field].value);
            });

            console.log('스토어 = ' + $('input[name=bbscttStore]').val());
            console.log('스토어 = ' + $('input[name=bbscttCchLa]').val());
            console.log('스토어 = ' + $('input[name=bbscttCchLo]').val());

            console.log('해시태그 값 = ' + board.bbscttHashtag);
            if(board.bbscttHashtag != null && !isEmpty(board.bbscttHashtag)) {
                $("#tag-list").append("<li class='tag-item'>" + board.bbscttHashtag + "<span class='del-btn' idx='" + 0 + "'>x</span></li>");
            }


            if (board.bbscttNo != null) {
                var $mapForm;
                $mapForm = '<div id="updateMap" style="width:100%;height:350px;"></div>';
                $('#mapContainer').empty().append($mapForm);

                var mapContainer = document.getElementById('updateMap'), // 지도를 표시할 div
                    mapOption = {
                        center: new kakao.maps.LatLng(board.bbscttCchLa, board.bbscttCchLo), // 지도의 중심좌표
                        level : 2 // 지도의 확대 레벨
                    };

                mapContainer.style.display = 'block';

                // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
                var map = new kakao.maps.Map(mapContainer, mapOption);

                // 지도를 클릭한 위치에 표출할 마커입니다
                var marker = new kakao.maps.Marker({
                    // 지도 중심좌표에 마커를 생성합니다
                    position: map.getCenter()
                });
                // 지도에 마커를 표시합니다
                marker.setMap(map);

            }

            /* 평점 렌더링 */
            switch (board.bbscttGrade) {
                case 1 :
                    $('#rate5').attr('checked', true);
                    break;
                case 2 :
                    $('#rate4').attr('checked', true);
                    break;
                case 3 :
                    $('#rate3').attr('checked', true);
                    break;
                case 4 :
                    $('#rate2').attr('checked', true);
                    break;
                case 5 :
                    $('#rate1').attr('checked', true);
                    break;
            }
            /* 평점 렌더링 */
        }


        /* 게시글 수정 */

        /* 지도 관련 */
        // 지도 팝업
        function openPopup() {
            window.open('/board/mapPopup', 'pop', 'width=1000, height=1000, scrollbars=yes');
        }

        // 팝업에서 정보 받아옴
        function getMapInfo(info) {
            console.log("map=========================");
            console.log(info);

            var lat = info.get("lat");
            var lng = info.get("lng");
            var title = info.get("title");

            console.log('위도:' + lat + ' / 경도:' + lng + '/타이틀:' + title);

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(lat, lng), // 지도의 중심좌표
                    level : 2 // 지도의 확대 레벨
                };

            mapContainer.style.display = 'block';

            // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption);

            // 지도를 클릭한 위치에 표출할 마커입니다
            var marker = new kakao.maps.Marker({
                // 지도 중심좌표에 마커를 생성합니다
                position: map.getCenter()
            });
            // 지도에 마커를 표시합니다
            marker.setMap(map);

            var latitude = document.getElementById('bbscttCchLa');
            var longitude = document.getElementById('bbscttCchLo');
            var store = document.getElementById('bbscttStore');

            latitude.setAttribute('value', lat);
            longitude.setAttribute('value', lng);
            store.setAttribute('value', title);
        }

        /* 지도 관련 */


        /*[- end of function -]*/

        /*]]>*/
    </script>
</th:block>
</html>