<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="member/layout/basic">
<th:block layout:fragment="title">
    <title>에러(임시페이지)</title>
</th:block>

<th:block layout:fragment="content">
    <div class="card-content">
            에러페이지(임시처리)
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        console.log('================');

        $(document).ready(function () {
            var msg = [[ ${message} ]];
            if (msg) {
                alert(msg);
            }
            var url = [[ ${url} ]];
            if (url) {
                console.log(url);
                location.replace(url);
            }
        });

    </script>
</th:block>

</html>