<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="member/layout/basic">
<th:block layout:fragment="title">
    <title>로그인</title>
</th:block>

<th:block layout:fragment="content">
    <div class="container">

    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <!--
                        <div class="col-lg-6 d-none d-lg-block">
                            <img src="/startbootstrap-sb-admin-2-gh-pages/img/eat.png" width="400px" height="400px">
                        </div>
                        -->
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Nplate</h1>
                                </div>
                                <form class="user" th:action="@{/feed}" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="id" name="id" placeholder="ID">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="pwd" name="pwd" placeholder="비밀번호">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="checkId">
                                            <label class="custom-control-label" for="checkId">Remember
                                                Me</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        로그인
                                    </button>
                                </form>
                                <hr>

                                <div class="text-center">
                                    <a href="/join" class="small">회원가입</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            // 알럿메시지 처리
            var msg = [[ ${message} ]];
            if (msg) {
                alert(msg);
            }
            var url = [[ ${url} ]];
            if (url && url !== '/') {
                console.log(url);
                location.replace(url);
            }


            // 아이디 기억하기
            var key = getCookie('key');
            $('#id').val(key);

            // 그 전에 ID를 저장해서 처음 페이지 로딩 시, 입력 칸에 저장된 ID가 표시된 상태라면,
            if($('#id').val() != ''){
                $('#checkId').attr('checked', true); // ID 저장하기를 체크 상태로 두기.
            }

            $('#checkId').change(function(){ // 체크박스에 변화가 있다면,
                if($('#checkId').is(':checked')){ // ID 저장하기 체크했을 때,
                    setCookie('key', $('#id').val(), 7); // 7일 동안 쿠키 보관
                }else{ // ID 저장하기 체크 해제 시,
                    deleteCookie('key');
                }
            });

            // ID 저장하기를 체크한 상태에서 ID를 입력하는 경우, 이럴 때도 쿠키 저장.
            $('#id').keyup(function(){ // ID 입력 칸에 ID를 입력할 때,
                if($('#checkId').is(':checked')){ // ID 저장하기를 체크한 상태라면,
                    setCookie('key', $('#id').val(), 7); // 7일 동안 쿠키 보관
                }
            });

        });

        // 쿠키 저장하기
        // setCookie => saveid함수에서 넘겨준 시간이 현재시간과 비교해서 쿠키를 생성하고 지워주는 역할
        function setCookie(cookieName, value, exdays) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var cookieValue = escape(value)
                + ((exdays == null) ? '' : '; expires=' + exdate.toGMTString());
            document.cookie = cookieName + '=' + cookieValue;
        }

        // 쿠키 삭제
        function deleteCookie(cookieName) {
            var expireDate = new Date();
            expireDate.setDate(expireDate.getDate() - 1);
            document.cookie = cookieName + '= ' + '; expires='
                + expireDate.toGMTString();
        }

        // 쿠키 가져오기
        function getCookie(cookieName) {
            cookieName = cookieName + '=';
            var cookieData = document.cookie;
            var start = cookieData.indexOf(cookieName);
            var cookieValue = '';
            if (start != -1) { // 쿠키가 존재하면
                start += cookieName.length;
                var end = cookieData.indexOf(';', start);
                if (end == -1) // 쿠키 값의 마지막 위치 인덱스 번호 설정
                    end = cookieData.length;
                console.log('end위치  : ' + end);
                cookieValue = cookieData.substring(start, end);
            }
            return unescape(cookieValue);
        }
    </script>
</th:block>

</html>