<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="member/layout/basic">
<th:block layout:fragment="title">
    <title>회원정보</title>
</th:block>


<th:block layout:fragment="content">
    <div class="card-content">
        <form class="form-horizontal" th:object="${memberInfo}">

            <div class="form-group">
                <label for="id" class="col-sm-2 control-label">ID</label>
                <div class="col-sm-10">
                    <input type="text" id="id" name="id" class="form-control" th:value="${memberInfo.id}" />
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">이름</label>
                <div class="col-sm-10">
                    <input type="text" id="name" name="name" class="form-control" th:value="${memberInfo.name}" />
                </div>
            </div>

            <div class="form-group">
                <label for="female" class="col-sm-2 control-label">성별</label>
                <div class="col-sm-10">
                    <label for="female">여성</label>
                    <input type="radio" id="female" name="sexCd" value="F"  />
                    <label for="male">남성</label>
                    <input type="radio" id="male" name="sexCd" value="M"  />
                </div>
            </div>

            <div class="form-group">
                <label for="birthday" class="col-sm-2 control-label">생일</label>
                <div class="col-sm-10">
                    <input type="date" id="birthday" name="birthday" class="form-control" th:value="${memberInfo.birthday}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="tel" class="col-sm-2 control-label">휴대폰번호</label>
                <div class="col-sm-10">
                    <input type="text" id="tel" name="tel" class="form-control" th:value="${memberInfo.tel}" />
                </div>
            </div>

            <div class="form-group">
                <label for="pwd" class="col-sm-2 control-label">비밀번호</label>
                <div class="col-sm-10">
                    <input type="password" id="pwd" name="pwd" class="form-control" th:value="${memberInfo.pwd}" />
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">이메일</label>
                <div class="col-sm-10">
                    <input type="text" id="email" name="email" class="form-control" th:value="${memberInfo.email}" />
                </div>
            </div>

            <div class="form-group">
                <label for="area" class="col-sm-2 control-label">지역</label>
                <div class="col-sm-10">
                    <select name="area" id="area">
                        <option value="00">전국</option>
                        <option value="11">서울</option>
                        <option value="21">부산</option>
                        <option value="22">대구</option>
                        <option value="23">인천</option>
                        <option value="24">광주</option>
                        <option value="25">대전</option>
                        <option value="26">울산</option>
                        <option value="29">세종</option>
                        <option value="31">경기도</option>
                        <option value="32">강원도</option>
                        <option value="33">충청북도</option>
                        <option value="34">충청남도</option>
                        <option value="35">전라북도</option>
                        <option value="36">전라남도</option>
                        <option value="37">경상북도</option>
                        <option value="38">경상남도</option>
                        <option value="39">제주특별자치시</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="nickName" class="col-sm-2 control-label">닉네임</label>
                <div class="col-sm-10">
                    <input type="text" id="nickName" name="nickName" class="form-control" th:value="${memberInfo.nickName}" />
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-sm-2 control-label">프로필사진</label>
                <div class="col-sm-10" id="uploadResult">
<!--                    <img th:src="${memberInfo.profileImg}" />-->
                    <img th:src=" '/member/info/profile?id=' + ${memberInfo.id} " />
                </div>
            </div>


            <div class="btn_wrap text-center">
                <a th:href="@{/list}">목록으로 돌아가기</a>
            </div>
        </form>
    </div>
</th:block>


</html>