<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="member/layout/basic">
<th:block layout:fragment="title">
    <title>회원가입</title>
</th:block>

<th:block layout:fragment="content">


    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
<!--                <div class="col-lg-5 d-none d-lg-block bg-register-image" id="test11"></div>-->
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                        </div>
                        <form class="user" th:action="@{/member/submit}" method="post" enctype="multipart/form-data">
                            <!-- ID -->
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="id" name="id" placeholder="ID" />
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary btn-user btn-block" onclick="checkId()">
                                        아이디 중복 조회
                                    </button>
                                </div>
                            </div>

                            <!-- 이름 -->
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="name" name="name" placeholder="이름" />
                            </div>

                            <!-- 성별 -->

                            <div class="form-group">
                                <div>
                                    <select class="form-control" name="sexCd" id="sexCd" style="border-radius: 10rem">
                                        <option value="F">여성</option>
                                        <option value="M">남성</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <!--
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="female" name="sexCd" class="custom-control-input" value="F" />
                                    <label class="custom-control-label" for="female">여성</label>
                                    <input type="radio" id="male" name="sexCd" class="custom-control-input" value="M"  />
                                    <label class="custom-control-label" for="male">남성</label>
                                </div>
                                -->

<!--                                <label for="female">성별</label>-->
                                <!--
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="female" name="sexCd" value="F" />
                                    <label class="form-check-label" for="female">여성</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="male" name="sexCd" value="M"  />
                                    <label class="form-check-label" for="male">남성</label>
                                </div>
                                -->
                            </div>

                            <!-- 생일 -->
                            <div class="form-group">
                                <label for="birthday">생일</label>
                                <input type="date" id="birthday" name="birthday" class="form-control form-control-user" />
                            </div>

                            <!-- 휴대폰번호 -->
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="tel" name="tel" placeholder="휴대폰 번호를 -없이 입력해주세요">
                            </div>

                            <!-- 비밀번호 todo 위로 올리기 -->
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" id="pwd" name="pwd" class="form-control form-control-user" placeholder="비밀번호">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" id="pwd2" name="pwd2" class="form-control form-control-user" placeholder="비밀번호를 다시 입력해주세요">
                                </div>
                            </div>

                            <!-- 이메일 -->
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="email" name="email" placeholder="이메일 주소">
                            </div>

                            <!-- 지역 -->
                            <div class="form-group">
                                <div>
                                    <select class="form-control" name="area" id="area" style="border-radius: 10rem">
                                        <option th:each="val : ${area}" th:value="${val.getCode()}" th:utext="${val}"></option>
                                    </select>
                                </div>
                            </div>

                            <!-- 닉네임 todo 위로 올리기 -->
                            <div class="form-group">
                                <input type="text" id="nickName" name="nickName" class="form-control form-control-user" placeholder="닉네임">
                            </div>

                            <!-- 프로필사진 -->
                            <div class="form-group">
                                <label for="file">프로필사진</label>
                                <div class="col-sm-10">
                                    <input type="file" id="file" name="file" class="form-control" accept="image/*" onchange="loadFile(this)"/>
                                    <div id="uploadResult"></div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                가입하기
                            </button>
                        </form>
                        <!--
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="login.html">Already have an account? Login!</a>
                        </div>
                        -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        // 아이디 중복체크
        function checkId() {
            var _id = $("#id").val();

            $.ajax({
                type: "get",
                dataType: "text",
                async: false,
                url: "/member/checkOverlappedID",
                data: { id: _id },
                success: function (data) {
                    if (data === 'usable') {
                        alert("사용할 수 있는 ID입니다.");
                    } else {
                        alert("사용할 수 없는 ID입니다.(중복)");
                    }
                },
                error: function () {
                    console.log("실패");
                }
            });
        }


        function loadFile(input) {
            var file = input.files[0];	//선택된 파일 가져오기

            //새로운 이미지 div 추가
            var newImage = document.createElement('img');
            newImage.setAttribute('class', 'img');

            //이미지 source 가져오기
            newImage.src = URL.createObjectURL(file);

            newImage.style.width = '100px';
            newImage.style.height = '100px';

            //이미지를 div에 추가
            var container = document.getElementById('uploadResult');

            while (container.hasChildNodes()) {
                container.removeChild(container.firstChild);
            }

            container.appendChild(newImage);
        }
    </script>
</th:block>

</html>