<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="member/layout/basic">
<th:block layout:fragment="title">
    <title>회원가입</title>
</th:block>

<th:block layout:fragment="content">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                            </div>
                            <form class="user" id="joinForm" th:action="@{/member/submit}" method="post" enctype="multipart/form-data">
                                <!-- ID -->
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" id="id" name="id" placeholder="ID" onchange="changeId()" required
                                            class="form-control form-control-user"
                                            data-parsley-length="[4, 10]"
                                            data-parsley-error-message="아이디를 입력해 주세요"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-primary btn-user btn-block" onclick="checkId()">
                                            아이디 중복 조회
                                        </button>
                                    </div>
                                </div>

                                <!-- 비밀번호  -->
                                <div class="form-group">
                                    <input type="password" id="pwd" name="pwd" placeholder="비밀번호" required
                                            class="form-control form-control-user"
                                            data-parsley-length="[4, 10]"
                                            data-parsley-error-message="비밀번호를 입력해 주세요" />
                                </div>

                                <!-- 이름 -->
                                <div class="form-group">
                                    <input type="text" id="name" name="name" placeholder="이름" required
                                            class="form-control form-control-user"
                                            data-parsley-length="[2, 5]"
                                            data-parsley-error-message="이름을 입력해 주세요"	/>
                                </div>

                                <!-- 닉네임 -->
                                <div class="form-group">
                                    <input type="text" id="nickName" name="nickName" placeholder="닉네임" required
                                            class="form-control form-control-user"
                                            data-parsley-length="[2,10]"
                                            data-parsley-error-message="닉네임을 입력해 주세요"	/>
                                </div>

                                <!-- 성별 -->
                                <div class="form-group">
                                    <div>
                                        <select id="sexCd" name="sexCd" class="form-control" style="border-radius: 10rem" required>
                                            <option value="F">여성</option>
                                            <option value="M">남성</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- 생일 -->
                                <div class="form-group">
                                    <label for="birthday">생일</label>
                                    <input type="date" id="birthday" name="birthday" required
                                            class="form-control form-control-user"
                                            data-parsley-error-message="생일을 입력해 주세요"/>
                                </div>

                                <!-- 휴대폰번호 -->
                                <div class="form-group">
                                    <input type="text" id="tel" name="tel" placeholder="휴대폰 번호를 -없이 입력해주세요" required
                                            class="form-control form-control-user"
                                            data-parsley-length="[11,11]"
                                            data-parsley-error-message="휴대폰 번호를 -없이 입력해주세요" />
                                </div>


                                <!-- 이메일 -->
                                <div class="form-group">
                                    <input type="email" id="email" name="email" placeholder="이메일 주소" required
                                            data-parsley-maxlength="40"
                                            data-parsley-error-message="이메일주소를 입력해 주세요"
                                            data-parsley-type="email" class="form-control form-control-user"/>
                                </div>

                                <!-- 지역 -->
                                <div class="form-group">
                                    <div>
                                        <select class="form-control" name="area" id="area" style="border-radius: 10rem" required>
                                            <option th:each="val : ${area}" th:value="${val.getCode()}" th:utext="${val}"></option>
                                        </select>
                                    </div>
                                </div>


                                <!-- 프로필사진 -->
                                <div class="form-group">
                                    <label for="file">프로필사진</label>
                                    <div class="col-sm-10">
                                        <input type="file" id="file" name="file" class="form-control" accept="image/*" onchange="loadFile(this)"/>
                                        <div id="uploadResult"></div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-primary btn-user btn-block" onclick="submitForm()">
                                    가입하기
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        // 아이디 중복체크
        var isCheckedId = false;
        function checkId() {
            console.log('아이디 체크전: ' + isCheckedId);

            var _id = $("#id").val();

            $.ajax({
                type: "get",
                dataType: "text",
                async: false,
                url: "/member/checkOverlappedID",
                data: { id: _id },
                success: function (data) {
                    if (data === 'usable') {
                        isCheckedId = true;
                        alert("사용할 수 있는 ID입니다.");
                        console.log('아이디 체크후: ' + isCheckedId);
                    } else {
                        alert("사용할 수 없는 ID입니다.(중복)");
                        console.log('아이디 체크후(중복): ' + isCheckedId);
                    }
                },
                error: function () {
                    console.log("실패");
                }
            });
        }

        // 중복확인 후 아이디 변경시
        function changeId() {
            if (isCheckedId) isCheckedId = false;
        }

        // 올린 파일 이미지 미리보기
        function loadFile(input) {
            var file = input.files[0];	//선택된 파일 가져오기

            //새로운 이미지 div 추가
            var newImage = document.createElement('img');
            newImage.setAttribute('class', 'img');

            //이미지 source 가져오기
            newImage.src = URL.createObjectURL(file);

            newImage.style.width = '100px';
            newImage.style.height = '100px';

            //이미지를 div에 추가
            var container = document.getElementById('uploadResult');

            while (container.hasChildNodes()) {
                container.removeChild(container.firstChild);
            }

            container.appendChild(newImage);
        }


        // 폼 밸리데이션 체크
        var form = $('#joinForm').parsley();

        function submitForm() {
            if (form.validate()) {
                if (!isCheckedId) {
                    alert('아이디 중복 확인을 해주세요.');
                } else {
                    document.getElementById('joinForm').submit();
                }

            }
        }
/*
        if (!isCheckedId) {
            alert('아이디 중복 확인을 해주세요.');
        } else {

            console.log('파슬리 밸리드');
            console.log(form.validate());
            // console.log(form.isValid());
            if (form.validate()) {
                document.getElementById('joinForm').submit();
            } else {
                console.log('폼밸리데이션 확인=======');
            }
        }
        */

    </script>
</th:block>

</html>