<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="error/layout/basic">
<th:block layout:fragment="title">
    <title>에러 페이지</title>
</th:block>

<th:block layout:fragment="content">
    <div class="container">
        <div class="card-body">
            <!-- 에러 텍스트 -->
            <div class="text-center">
                <p class="lead text-gray-800 mb-5">에러가 발생했습니다</p>
                <p class="text-gray-500 mb-0">잠시 후 다시 접속해주세요</p>
                <a href="/">&larr; 메인 페이지로 이동</a>
            </div>

            <!--
            <ul>
                <li>오류 정보</li>
                <li th:text="|timestamp: ${timestamp}|"></li>
                <li th:text="|path: ${path}|"></li>
                <li th:text="|status: ${status}|"></li>
                <li th:text="|message: ${message}|"></li>
                <li th:text="|error: ${error}|"></li>
                <li th:text="|exception: ${exception}|"></li>
                <li th:text="|errors: ${errors}|"></li>
                <li th:text="|trace: ${trace}|"></li>
            </ul>
            -->
        </div>
    </div>
</th:block>

</html>