<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netive.nplate.mapper.BoardMapper">
	<sql id="boardColumns">
		BBSCTT_NO,
		BBSCTT_SJ,
		BBSCTT_CN,
		BBSCTT_WRTER,
		BBSCTT_RGSDE,
		BBSCTT_UPDDE,
		BBSCTT_RDCNT,
		BBSCTT_LIKE,
		BBSCTT_IMAGE,
		BBSCTT_GRADE,
		BBSCTT_STORE,
		BBSCTT_HASHTAG,
		BBSCTT_CCH_LA,
		BBSCTT_CCH_LO,
		BBSCTT_DELETE_AT
	</sql>

	<!-- 게시글 검색 -->
	<sql id="search">
		<!-- 검색 키워드가 있을 때 -->
		<if test="keyword != null and keyword != ''">
				AND BBSCTT_SJ LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</sql>

	<!-- 게시글 저장 -->
	<insert id="insertBoard" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="bbscttNo">
		INSERT INTO NETIVE_PROJECT01_BOARD(
			BBSCTT_SJ,
			BBSCTT_CN,
			BBSCTT_WRTER,
			BBSCTT_IMAGE,
			BBSCTT_GRADE,
			BBSCTT_STORE,
			BBSCTT_HASHTAG,
			BBSCTT_CCH_LA,
			BBSCTT_CCH_LO
		) VALUES (
		#{bbscttSj},
		#{bbscttCn},
		#{bbscttWrter},
		#{bbscttImage},
		#{bbscttGrade},
		#{bbscttStore},
		IFNULL(#{bbscttHashtag}, ''),
		#{bbscttCchLa},
		#{bbscttCchLo}
		)
	</insert>

	<!-- 게시글 상세보기 -->
	<select id="selectBoardDetail" parameterType="long" resultType="BoardDTO">
		SELECT
			<include refid="boardColumns"/>
		FROM
			NETIVE_PROJECT01_BOARD
		WHERE
		BBSCTT_NO = #{bbscttNo}
	</select>

	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE NETIVE_PROJECT01_BOARD
		SET
			BBSCTT_UPDDE = NOW(),
			BBSCTT_SJ = #{bbscttSj},
			BBSCTT_CN = #{bbscttCn},
			BBSCTT_IMAGE = #{bbscttImage},
			BBSCTT_GRADE = #{bbscttGrade},
			BBSCTT_STORE = #{bbscttStore},
			BBSCTT_HASHTAG = #{bbscttHashtag},
			BBSCTT_CCH_LA = #{bbscttCchLa},
			BBSCTT_CCH_LO = #{bbscttCchLo}
		WHERE
			BBSCTT_NO=#{bbscttNo}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="long">
		DELETE
		FROM
			NETIVE_PROJECT01_BOARD
		WHERE
			BBSCTT_NO = #{bbscttNo}
	</delete>

	<!-- 관리자가 게시글 삭제 시 update로 수정 -->
	<update id="deleteAdminBoard" parameterType="String">
		UPDATE NETIVE_PROJECT01_BOARD
			SET
				BBSCTT_DELETE_AT = "Y"
		WHERE BBSCTT_NO = #{bbscttNo}
	</update>

	<!--게시글 목록-->
	<select id="selectBoardList" parameterType="PageDTO" resultType="BoardDTO">
		SELECT
			<include refid="boardColumns"/>
		FROM
			NETIVE_PROJECT01_BOARD
		<include refid="search"></include>
		ORDER BY
			BBSCTT_NO DESC
		LIMIT #{pagination.limitStart}, #{recordSize}
	</select>

	<!-- 게시글 수 카운트 -->
	<select id ="count" parameterType="PageDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			NETIVE_PROJECT01_BOARD
	</select>

	<!-- 특정 사용자 게시글 수 카운트 -->
	<select id="countById" parameterType="String" resultType="int">
		SELECT
		    COUNT(*)
		FROM
			NETIVE_PROJECT01_BOARD
		WHERE
		    BBSCTT_WRTER = #{memberId}
	</select>

	<!-- 게시글 번호로 게시글 작성자 조회 -->
	<select id="selectWriterByIdx" parameterType="String" resultType="String">
		SELECT BBSCTT_WRTER
		FROM NETIVE_PROJECT01_BOARD
		WHERE BBSCTT_NO = #{bbscttNo}
	</select>

	<!-- 게시글 조회수 증가 -->
	<update id="cntPlus" parameterType="long">
		UPDATE NETIVE_PROJECT01_BOARD
		SET
			BBSCTT_RDCNT = BBSCTT_RDCNT+1
		WHERE
			BBSCTT_NO = #{bbscttNo}
	</update>

	<!-- 특정 ID 게시글 조회 -->
	<select id="getBordListById" parameterType="SearchDTO" resultType="BoardDTO">
		select * from NETIVE_PROJECT01_BOARD
		where BBSCTT_WRTER = #{memberId}
		order by BBSCTT_NO desc
			limit #{limitStart}, #{recordSize}
	</select>

	<!-- 팔로잉 게시글 조회 -->
	<select id="getBordListByIds" parameterType="hashmap" resultType="BoardDTO">
		select * from NETIVE_PROJECT01_BOARD where BBSCTT_WRTER in
		<foreach item="item" collection="followingIds" open="(" close=")" separator=",">
			#{item}
		</foreach>
		order by BBSCTT_NO desc
		limit #{limitStart}, #{recordSize}
	</select>

	<!-- 키워드 검색 -->
	<select id="getBordListByKeyword" parameterType="SearchDTO" resultType="BoardDTO">
		select * from NETIVE_PROJECT01_BOARD
		where
		<choose>
			<when test="searchType == 'hashtag'">
				BBSCTT_HASHTAG like concat('%',#{keyword},'%')
			</when>
			<otherwise>
				BBSCTT_SJ like concat('%', #{keyword}, '%')
				or BBSCTT_CN like concat('%', #{keyword}, '%')
				or BBSCTT_Wrter like concat('%', #{keyword}, '%')
				or BBSCTT_HASHTAG like concat('%',#{keyword},'%')
			</otherwise>
		</choose>
		order by BBSCTT_NO desc
		limit #{limitStart}, #{recordSize}
	</select>
</mapper>