<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netive.nplate.mapper.BoardMapper">
	<sql id="boardColumns">
		BBSCTT_NO,
		BBSCTT_SJ,
		BBSCTT_CN,
		BBSCTT_WRTER,
		BBSCTT_RGSDE,
		BBSCTT_UPDDE,
		BBSCTT_RDCNT,
		BBSCTT_LIKE,
		BBSCTT_IMAGE,
		BBSCTT_GRADE,
		BBSCTT_STORE,
		BBSCTT_HASHTAG,
		BBSCTT_CCH_LA,
		BBSCTT_CCH_LO
	</sql>

	<!-- 게시글 검색 -->
	<sql id="search">
		<!-- 검색 키워드가 있을 때 -->
		<if test="keyword != null and keyword != ''">
			<choose>
				<!-- 검색 유형이 있을 때 -->
				<when test="type != null and type != ''">
					<choose>
						<when test="type.equals( 'bbscttSj' )">
							AND BBSCTT_SJ LIKE CONCAT('%', #{keyword}, '%')
						</when>
						<when test="type.equals( 'bbscttCn' )">
							AND BBSCTT_CN LIKE CONCAT('%', #{keyword}, '%')
						</when>
						<when test="type.equals( 'bbscttWrter' )">
							AND BBSCTT_Wrter LIKE CONCAT('%', #{keyword}, '%')
						</when>
					</choose>
				</when>
				<!-- 전체 검색일 때 때 -->
				<otherwise>
					AND (
					BBSCTT_SJ LIKE CONCAT('%', #{keyword}, '%')
					OR BBSCTT_CN LIKE CONCAT('%', #{keyword}, '%')
					OR BBSCTT_Wrter LIKE CONCAT('%', #{keyword}, '%')
					)
				</otherwise>
			</choose>
		</if>
	</sql>

	<insert id="insertBoard" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="bbscttNo">
		INSERT INTO NETIVE_PROJECT01_BOARD(
			BBSCTT_SJ,
			BBSCTT_CN,
			BBSCTT_WRTER,
			BBSCTT_IMAGE,
			BBSCTT_GRADE,
			BBSCTT_STORE,
			BBSCTT_HASHTAG,
			BBSCTT_CCH_LA,
			BBSCTT_CCH_LO
		) VALUES (
		#{bbscttSj},
		#{bbscttCn},
		"123",
		#{bbscttImage},
		#{bbscttGrade},
		#{bbscttStore},
		IFNULL(#{bbscttHashtag}, ''),
		#{bbscttCchLa},
		#{bbscttCchLo}
		)
	</insert>

	<select id="selectBoardDetail" parameterType="long" resultType="BoardDTO">
		SELECT
			<include refid="boardColumns"/>
		FROM
			NETIVE_PROJECT01_BOARD
		WHERE
		BBSCTT_NO = #{bbscttNo}
	</select>

	<!-- 게시글 상세정보 조회 -->
	<select id="findByIdx" parameterType="long" resultType="BoardDTO">
		SELECT
		<include refid="boardColumns" />
		FROM
		NETIVE_PROJECT01_BOARD
		WHERE
		BBSCTT_NO = #{bbscttNo}
	</select>

	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE NETIVE_PROJECT01_BOARD
		SET
			BBSCTT_UPDDE = NOW(),
			BBSCTT_SJ = #{bbscttSj},
			BBSCTT_CN = #{bbscttCn},
			BBSCTT_IMAGE = #{bbscttImage},
			BBSCTT_GRADE = #{bbscttGrade},
			BBSCTT_STORE = #{bbscttStore},
			BBSCTT_HASHTAG = #{bbscttHashtag},
			BBSCTT_CCH_LA = #{bbscttCchLa},
			BBSCTT_CCH_LO = #{bbscttCchLo}
		WHERE
			BBSCTT_NO=#{bbscttNo}
	</update>
	
	<delete id="deleteBoard" parameterType="long">
		DELETE
		FROM
			NETIVE_PROJECT01_BOARD
		WHERE
			BBSCTT_NO = #{bbscttNo}
	</delete>

	<!--게시글 목록-->
	<select id="selectBoardList" resultType="BoardDTO">
		SELECT
			<include refid="boardColumns"/>
		FROM
			NETIVE_PROJECT01_BOARD
		WHERE BBSCTT_NO
			<include refid="search"></include>
		ORDER BY
			BBSCTT_NO DESC
		LIMIT #{skip}, #{amount}
	</select>

	<!-- 게시글 수 카운트 -->
	<select id ="selectBoardTotalCount" parameterType="BoardDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			NETIVE_PROJECT01_BOARD
			WHERE BBSCTT_NO
		<include refid="search"></include>
	</select>
	
	<update id="cntPlus" parameterType="long">
		UPDATE NETIVE_PROJECT01_BOARD
		SET
			BBSCTT_RDCNT = BBSCTT_RDCNT+1
		WHERE
			BBSCTT_NO = #{bbscttNo}
	</update>

	<!-- 게시글 검색 -->
	<select id="selectBoardSearchList" parameterType="BoardDTO" resultType="BoardDTO">
		SELECT
		    *
		FROM NETIVE_PROJECT01_BOARD
		WHERE BBSCTT_NO
		<if test="type != null">
			<include refid="search"></include>
		</if>
	</select>
</mapper>