<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netive.nplate.mapper.BoardFileMapper">
	<sql id="boardFileColumns">
		FILE_NO,
		FILE_IMAGE_CODE,
		FILE_NM,
		FILE_NM_TEMP,
		FILE_COURS,
		BBSCTT_NO
	</sql>

	<insert id="insertFile" parameterType="list">
		INSERT INTO NETIVE_PROJECT01_IMAGE_FILE
			(
			FILE_IMAGE_CODE,
			FILE_NM,
			FILE_NM_TEMP,
			FILE_COURS,
			BBSCTT_NO
			)
		VALUES
		<foreach collection="list" item="list" separator=",">
				(
				#{list.fileImageCode},
				#{list.fileNm},
				#{list.fileNmTemp},
				#{list.fileCours},
				#{list.bbscttNo}
				)
			</foreach>
	</insert>

	<select id="selectFileList" parameterType="long" resultType="BoardFileDTO">
		SELECT
		<include refid="boardFileColumns" />
		FROM
		NETIVE_PROJECT01_IMAGE_FILE
		WHERE
		BBSCTT_NO = #{bbscttNo}
	</select>


	<delete id="deleteFile">
		DELETE FROM NETIVE_PROJECT01_IMAGE_FILE WHERE FILE_NO = #{fileNo}
	</delete>

	<select id="selectFileTotalCount" parameterType="long" resultType="int">
		SELECT
			COUNT(*)
		FROM
			NETIVE_PROJECT01_IMAGE_FILE
		WHERE
			BBSCTT_NO = #{bbscttNo}
	</select>

</mapper>