<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netive.nplate.mapper.FileMapper">
    <resultMap id="fileResult" type="FileDTO">
        <result property="fileId" column="FILE_NO"/>
        <result property="fileCode" column="FILE_IMAGE_CODE"/>
        <result property="orgNm" column="FILE_NM"/>
        <result property="savedNm" column="FILE_NM_TEMP"/>
        <result property="savedPath" column="FILE_COURS"/>
    </resultMap>

    <insert id="registerFile" parameterType="FileDTO">
        <![CDATA[
        INSERT INTO NETIVE_PROJECT01_FILE_IMAGE (FILE_IMAGE_CODE, FILE_NM, FILE_NM_TEMP, FILE_COURS)
        VALUES ( #{fileCode}, #{orgNm}, #{savedNm}, #{savedPath})
        ]]>
    </insert>

    <select id="selectFileByCd" parameterType="String" resultMap="fileResult">
        <![CDATA[
        select * from NETIVE_PROJECT01_FILE_IMAGE where FILE_IMAGE_CODE = #{cd}
        ]]>
    </select>

    <update id="updateFile" parameterType="FileDTO">
        <![CDATA[
        update NETIVE_PROJECT01_FILE_IMAGE
        set FILE_NM = #{orgNm}, FILE_NM_TEMP = #{savedNm}, FILE_COURS = #{savedPath}
        where FILE_IMAGE_CODE = #{fileCode}
        ]]>
    </update>

    <delete id="deleteFile" parameterType="String">
        <![CDATA[
        delete from NETIVE_PROJECT01_FILE_IMAGE where FILE_IMAGE_CODE = #{cd}
        ]]>
    </delete>

    <!-- 게시글 파일 테이블 S -->

    <!-- 게시판 파일 저장 -->
    <insert id="registerBoardFile" parameterType="FileDTO">
        insert into NETIVE_PROJECT01_FILE_IMAGE (FILE_IMAGE_CODE, FILE_NM, FILE_NM_TEMP, FILE_COURS)
        values (
                #{fileCode}, #{orgNm}, #{savedNm}, #{savedPath}
               )
    </insert>

    <!-- 게시글 번호로 파일테이블 조회 -->
    <select id="selectBoardFile" parameterType="long" resultType="FileDTO">
        select * from NETIVE_PROJECT01_FILE_IMAGE where BBSCTT_NO = #{bbscttNo}
    </select>
    <!-- 게시글 파일 테이블 E -->

</mapper>