<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netive.nplate.mapper.FileMapper">
    <insert id="registerFile" parameterType="FileDTO">
        <![CDATA[
        INSERT INTO NETIVE_PROJECT01_FILE_IMAGE (FILE_IMAGE_CODE, FILE_NM, FILE_NM_TEMP, FILE_COURS)
        VALUES ( #{fileCode}, #{orgNm}, #{savedNm}, #{savedPath})
        ]]>
    </insert>

</mapper>