<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netive.nplate.mapper.LoginMapper">

    <select id="getLikes" parameterType="hashmap" resultType="BoardDTO">
        select * from NETIVE_PROJECT01_BOARD where BBSCTT_NO in
        <foreach item="item" collection="likeNumbers" open="(" close=")" separator=",">
            #{item.value}
        </foreach>
    </select>

</mapper>