<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netive.nplate.mapper.LoginMapper">

    <!-- 게시글 검색 -->
    <sql id="search">
        <!-- 검색 키워드가 있을 때 -->
        <if test="keyword != null and keyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="searchType.equals( 'bbscttSj' )">
                            AND BBSCTT_SJ LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                        <when test="searchType.equals( 'bbscttCn' )">
                            AND BBSCTT_CN LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                        <when test="searchType.equals( 'bbscttWrter' )">
                            AND BBSCTT_Wrter LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                    </choose>
                </when>
                <!-- 전체 검색일 때 때 -->
                <!--				<otherwise>-->
                <!--					AND (-->
                <!--					BBSCTT_SJ LIKE CONCAT('%', #{keyword}, '%')-->
                <!--					OR BBSCTT_CN LIKE CONCAT('%', #{keyword}, '%')-->
                <!--					OR BBSCTT_Wrter LIKE CONCAT('%', #{keyword}, '%')-->
                <!--					)-->
                <!--				</otherwise>-->
            </choose>
        </if>
    </sql>

    <select id="getBordListById" parameterType="SearchDTO" resultType="BoardDTO">
        select * from NETIVE_PROJECT01_BOARD
        where BBSCTT_WRTER = #{memberId}
        <include refid="search"></include>
        order by BBSCTT_NO desc
        limit #{pagination.limitStart}, #{recordSize}
    </select>

    <select id="countPostsById" parameterType="String" resultType="int">
        <![CDATA[
        select count(*) from NETIVE_PROJECT01_BOARD where BBSCTT_WRTER = #{id}
        ]]>
    </select>

    <select id="getLikes" parameterType="hashmap" resultType="BoardDTO">
        select * from NETIVE_PROJECT01_BOARD where BBSCTT_NO in
        <foreach item="item" collection="likeNumbers" open="(" close=")" separator=",">
            #{item.value}
        </foreach>
        <if test="keyword != null">
            and BBSCTT_HASHTAG like concat('%',#{keyword},'%')
        </if>
    </select>

</mapper>