<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netive.nplate.mapper.NotificationMapper">
    <sql id="notificationColumns">
        NTCN_NO,
        NTCN_RECEIVE_MBER,
        NTCN_SEND_MBER,
        NTCN_KND,
        NTCN_TRGT_NO,
        NTCN_CN,
        NTCN_COURS,
        NTCN_OCCRRNC_DT,
        NTCN_CNFIRM_DT
    </sql>

</mapper>